* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 40px 0;
  background-color: #f6f1ee;
  position: relative;
}

section {
  background-color: #f6f1ee;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 20%;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navList {
  width: 100%;
  display: flex;
  gap: 36px;
}

.navItem > a {
  color: #253439;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  position: relative;
}

.navItem > a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #d4a373;
  transition: 0.5s ease all;
}

.navItem > a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
}

.headerRightSide {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerİcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headerİcon > a {
  background-color: #fff;
  padding: 14px;
  border-radius: 18px;
}

.headerMobileIcon {
  display: flex;
  gap: 12px;
}

.headerMobileIcon > div {
  background-color: #fff;
  padding: 12px 14px;
  border-radius: 18px;
  display: none;
}

.walletCount {
  padding: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57cc99;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.loginSign {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 18px;
}

.loginSign > a {
  color: #253439;
}

#toggleDownMenu {
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding: 12px 14px;
  border-radius: 18px;
  z-index: 1000;
}

.down-Menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  transition: top 0.3s ease;

  padding: 20px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.navList-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList-mob > li {
  padding: 0;
}

.navList-mob > li > a {
  color: #000;
}

/* end header */

.formLeftSide {
  border-radius: 16px;
  background-color: #33484f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formLeftSide .dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.formLeftSide .dropdown .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.formLeftSide .dropdown .select .selected {
  display: block;
}

.formLeftSide .dropdown .select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.formLeftSide .dropdown .menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  margin: 0;
  border-radius: 8px;
  background: #33484f;
  color: #fff;
}

.formLeftSide .dropdown .menu li {
  padding: 5px;
  cursor: pointer;
}

.formLeftSide .dropdown .menu li.active {
  border-radius: 8px;
}

.formLeftSide .dropdown.open .menu {
  display: block;
}

.formLeftSide input {
  width: 100%;
  padding: 20px 32px;
  border-radius: 8px;
  background: #222426;
  border: none;
  outline: none;
  color: #fff;
}

.register {
  background-color: #253439;
  padding-bottom: 100px;
}

.homeTitle {
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 32px;
}

.homecardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.startups-mob {
  display: none;
}

.card-container {
  position: relative;
  width: 32%;
  height: 246px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 20px 12px;
  padding: 20px 32px;
  background-color: #fff;
  border-radius: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-icon {
  float: right;
}

.card-title {
  width: 50%;
}

.card-container:nth-child(1) > .card {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-container:nth-child(2) > .card {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-icon,
.card-title {
  margin-bottom: 12px;
}
.cardBtn {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.cardBtn > a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.4s ease all;
}

.cardBtn a:hover {
  background-color: #8b949b;
  color: #fff;
  transition: 0.4s ease all;
}

@media (max-width: 1200px) {
  .headerRightSide {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .navList {
    gap: 15px;
  }
}

/* register css */

.register-2 {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}

.registerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px 120px;
  background-color: #253439;
}

.formTitle {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.formTitle > h2,
.page {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.socialBtns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.socialBtn > a {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  padding: 16px 60px;
  border-radius: 16px;
  gap: 20px;
  color: #fff;
}

.signIn {
  display: flex;
  gap: 15px;
}

.question {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff5d;
}

.signIn > a {
  color: #fff;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formPart {
  display: flex;
  flex-direction: column;
}

.formPart > label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
}

input {
  padding: 18px 24px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.formSelect {
  width: 100%;
  display: flex;
  gap: 8px;
}

.formSelect > .formLeftSide {
  width: 50%;
  background-color: #fff;
}

.formSelect .formLeftSide .select,
.caret {
  color: #253439;
}

.formSelect .dropdown .select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.formBtn {
  width: 100%;
}

.formBtn > .btn {
  width: 100%;
  padding: 19px 0 19px 0;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 16px;
  background-color: #ffffff35;
  cursor: pointer;
}

.formText {
  text-align: center;
  font-size: 10px;
  color: #ffffff50;
  position: relative;
}
.formText::after {
  content: "";
  background-color: #ffffff50;
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 1px;
  width: 40%;
}

.formText::before {
  content: "";
  background-color: #ffffff50;
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 1px;
  width: 40%;
}

.investBtn {
  width: 100%;
  padding: 19px 0 19px 0;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

@media (max-width: 700px) {
  .registerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 6px 6px 6px;
    padding: 13px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .socialBtn > a {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 12px 24px;
    border-radius: 16px;
    gap: 20px;
    color: #fff;
  }
}

/* home section start */

.home {
  width: 100%;
  padding: 40px 0;
  background-color: #f6f1ee;
}

.homeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  color: #253439;
  text-align: center;
  margin-bottom: 16px;
}

.homeText {
  font-size: 18px;
  line-height: 27px;
  color: #253439;
  text-align: center;
  width: 70%;
}

.homeVectors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 32px;
}

.homeButtonBox {
  display: flex;
  height: 200px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.buttonBoxRow {
  display: flex;
  gap: 12px;
  align-items: center;
}

.startups {
  display: flex;
  align-items: center;
  gap: 12px;
}

.startups > a {
  color: #253439;
}

.homeBtn {
  background-color: #fff;
  border-radius: 24px;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.homeBtn > a {
  font-size: 18px;
  line-height: 18px;
  color: #253439;
}

.weekly {
  background-color: #f6f1ee;
  padding: 0 0 36px 0;
}

.lunchesHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.lunchesHeader > a {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 30px;
  color: #253439;
}

.lunchesHeader > h3 {
  font-size: 32px;
  line-height: 32px;
  color: #253439;
}

.weeklyTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.weeklyTitle > h2 {
  font-weight: 700;
  font-size: 72px;
  color: #253439;
  text-align: center;
}

.row {
  display: flex;
}

.lunches {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lunchCard {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-image {
  width: 100%;
  position: relative;
  transform: translateY(50px);
}
.card-image > img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.favorite {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-name {
  background-color: #fff;
  color: #253439;
  position: absolute;
  left: 12px;
  bottom: 62px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.cardInfo {
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.cardText {
  line-height: 16px;
  font-size: 13px;
  color: #253439;
  font-weight: 400;
}

.cardTitle {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #253439;
}

.stat {
  margin-top: 24px;
  width: 100%;
}
.count-stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.load {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}
.load > img {
  width: 100%;
}

.launching {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.funding {
  color: #3590f3;
  font-size: 12px;
  text-transform: uppercase;
}

.soon {
  color: #253439;
  font-size: 12px;
}

/* slider style codes */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper {
  display: none;
}

swiper-container {
  width: 100%;
  height: 100%;
  background-color: #f6f1ee;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide > .lunchCard {
  width: 100%;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide {
  width: 90%;
}

/* end slider style */

/* start network section */

.network {
  width: 100%;
  padding: 100px 0;
}

.card-top {
  height: 98px;
  background-color: #d4a373;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
}

.card-content {
  background-color: #fff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 36px 24px;
}

.card-Image {
  position: absolute;
  left: 24px;
  top: 55px;
  width: 72px;
  height: 72px;
  background-color: #253439;
  border: 4px solid #fff;
  border-radius: 24px;
  z-index: 10;
}

.primaryTitle {
  width: 70%;
  font-size: 18px;
  font-weight: 700;
}

.location {
  color: #253439;
  opacity: 50%;
}

.card-stats {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.stat-part {
  padding-right: 20px;
  border-right: 3px solid #d4a3733d;
}

.vector {
  width: 100%;
}

.vector > img {
  width: 100%;
}

.vector {
  height: 90px;
  width: 100%;
  background-image: url(../images/Vector\ 7.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* start cardGallery section */

.cardGallery {
  width: 100%;
  padding: 50px 0;
  background-color: #253439;
}

.galleryBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-card {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #cff0f4;
  position: relative;
  border-radius: 20px;
}

.card-Content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 56px;
}

.card-cover {
  width: 54%;
  height: 500px;
  background-image: url("../images/image\ 27.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom-right-radius: 20px;
}

.card-header {
  font-size: 40px;
  color: #253439;
  font-weight: 700;
}

.card-Description {
  width: 80%;
  font-size: 20px;
  line-height: 25px;
}

.card-btn {
  width: 300px;
  text-align: center;
  background-color: #fff;
  padding: 19px 24px;
  border-radius: 24px;
}

.card-btn > a {
  color: #253439;
  font-size: 18px;
  font-weight: 600;
}

.gallery-card-title {
  margin-top: 57px;
}

.galleryCard {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px;
  background-color: #ebe2ff;
  padding: 56px;
  border-radius: 20px;
}

.gallery-card-img > img {
  height: 100%;
  object-fit: contain;
}

.galleryCard:nth-child(2) {
  display: flex;
  flex-direction: column;
  background-color: #e3f9d3;
}

.row:nth-child(2) {
  gap: 20px;
}

.gallery-card-title {
  color: #253439;
  font-size: 32px;
  font-weight: 700;
}

.galleryCardBtn {
  margin-top: 20px;
}

.galleryCardBtn > a {
  padding: 19px 20px;
  background-color: #fff;
  border-radius: 24px;
  color: #253439;
}

@media (max-width: 762px) {
  .header {
    margin: 6px;
    margin-bottom: 0;
    padding: 17px 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .container {
    width: 100%;
    padding: 0 13px;
  }

  .headerMobileIcon > div {
    display: block;
  }

  .headerRightSide > .loginSign,
  .headerİcon {
    display: none;
  }

  .navBar,
  .loginSign {
    display: none;
  }

  .cardBox {
    display: none;
  }

  .homecardBox,
  .row {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

.home{
  padding: 20px 0;
}

  .card-container {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .formLeftSide .dropdown .select {
    padding: 10px;
  }

  .homeInfo {
    width: 100%;
  }

  .home-title {
    font-size: 28px;
    line-height: 35px;
    width: 100%;
  }

  .homeText {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .homeTitle {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 32px;
  }

  .weeklyTitle > h2 {
    font-size: 28px;
    line-height: 28px;
  }

  .card-Content,
  .gallery-card-title,
  .galleryCardBtn {
    display: none;
  }

  .galleryCard {
    width: 100%;
    height: 300px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-card-img > img {
    height: 100%;
    width: 100%;
  }

  .card-cover {
    width: 100%;
    background-position: left;
    background-size: cover;
    border-radius: 20px;
  }

  .weeklyTitle > p {
    padding: 0 16px;
    font-size: 18px;
  }
  .buttonBoxRow {
    display: none;
  }

  .lunchesHeader {

    padding: 0 16px;
  }

  .lunchesHeader > h3 {
    font-size: 20px;
  }

  .startups-mob {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  .startups-mob > a {
    color: #253439;
  }

  .leftVector {
    width: 45%;
  }

  .leftVector > img,
  .rightVector > img {
    width: 100%;
  }

  .rightVector {
    width: 45%;
  }

  .mySwiper {
    display: block;
  }

  .startups {
    display: none;
  }

  .card-container {
    height: 330px;
  }

  .card-title {
    width: 100%;
  }

  .card-description {
    font-size: 14px;
    line-height: 20px;
    height: 100px;
  }

  .homecardBox {
    display: none;
  }

  .homeVectors {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }


  .network {
    width: 100%;
    padding: 0;
  }

  .coverIcon {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-container {
    position: relative;
  }

  .card-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .card-container:nth-child(1) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 80%, 0 80%);
  }
  .card-container:nth-child(2) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 55% 70%, 0 70%);
  }
  .card-container:nth-child(3) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 70%, 0 70%);
  }
}
