* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}




.header {
  padding: 40px 0;
  background-color: #f6f1ee;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 20%;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navList {
  width: 100%;
  display: flex;
  gap: 36px;
}

.navItem > a {
  color: #253439;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  position: relative;
}

.navItem > a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #d4a373;
  transition: 0.5s ease all;
}

.navItem > a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
}

.headerRightSide {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerİcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headerİcon > a {
  background-color: #fff;
  padding: 14px;
  border-radius: 18px;
}

.walletCount {
  padding: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57cc99;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.loginSign {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 18px;
}

.loginSign > a {
  color: #253439;
}

.formLeftSide {
  border-radius: 16px;
  background-color: #33484f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formLeftSide .dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.formLeftSide .dropdown .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.formLeftSide .dropdown .select .selected {
  display: block;
}

.formLeftSide .dropdown .select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.formLeftSide .dropdown .menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  margin: 0;
  border-radius: 8px;
  background: #33484f;
  color: #fff;
}

.formLeftSide .dropdown .menu li {
  padding: 5px;
  cursor: pointer;
}

.formLeftSide .dropdown .menu li.active {
  border-radius: 8px;
}

.formLeftSide .dropdown.open .menu {
  display: block;
}

.formLeftSide input {
  width: 100%;
  padding: 20px 32px;
  border-radius: 8px;
  background: #222426;
  border: none;
  outline: none;
  color: #fff;
}

.register {
  background-color: #253439;
  padding-bottom: 100px;
}

.homeTitle {
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 32px;
}

.homecardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-container {
  position: relative;
  width: 32%;
  height: 246px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 20px 12px;
  padding: 20px 32px;
  background-color: #fff;
  border-radius: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-description {
  height: 100px;
}

.card-icon {
  float: right;
}

.card-title {
  width: 50%;
}

.card-container:nth-child(1) > .card {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-container:nth-child(2) > .card {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 75%, 0 75%);
}

.card-icon,
.card-title {
  margin-bottom: 12px;
}
.cardBtn {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.cardBtn > a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.4s ease all;
}

.cardBtn a:hover {
  background-color: #8b949b;
  color: #fff;
  transition: 0.4s ease all;
}

@media (max-width: 700px) {
  .header {
    margin: 6px;
    margin-bottom: 0;
    padding: 17px 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .container {
    width: 100%;
    padding: 0 13px;
  }

  .homecardBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .card-container {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .formLeftSide .dropdown .select {
    padding: 10px;
  }

  .homeTitle {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 32px;
  }

  .card-description {
    font-size: 12px;
  }

  .card-container {
    position: relative;
  }

  .card-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .card-container:nth-child(1) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 40% 70%, 0 70%);
  }
  .card-container:nth-child(2) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 55% 70%, 0 70%);
  }
  .card-container:nth-child(3) > .card {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 70%, 0 70%);
  }
}

/* register css */

.register-2 {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}

.registerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px 120px;
  background-color: #253439;
}

.formTitle {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.formTitle > h2,
.page {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.socialBtns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.socialBtn > a {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  padding: 16px 60px;
  border-radius: 16px;
  gap: 20px;
  color: #fff;
}

.signIn {
  display: flex;
  gap: 15px;
}

.question {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff5d;
}

.signIn > a {
  color: #fff;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formPart {
  display: flex;
  flex-direction: column;
}

.formPart > label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
}

input {
  padding: 18px 24px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.formSelect {
  width: 100%;
  display: flex;
  gap: 8px;
}

.formSelect > .formLeftSide {
  width: 50%;
  background-color: #fff;
}

.formSelect .formLeftSide .select,
.caret {
  color: #253439;
}

.formSelect .dropdown .select .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.formBtn {
  width: 100%;
}

.formBtn > .btn {
  width: 100%;
  padding: 19px 0 19px 0;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 16px;
  background-color: #ffffff35;
  cursor: pointer;
}

.formText {
  text-align: center;
  font-size: 10px;
  color: #ffffff50;
  position: relative;
}
.formText::after {
  content: "";
  background-color: #ffffff50;
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 1px;
  width: 40%;
}

.formText::before {
  content: "";
  background-color: #ffffff50;
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 1px;
  width: 40%;
}

.investBtn {
  width: 100%;
  padding: 19px 0 19px 0;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

@media (max-width: 700px) {
  .registerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 6px 6px 6px;
    padding: 13px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .socialBtn > a {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 12px 24px;
    border-radius: 16px;
    gap: 20px;
    color: #fff;
  }
}

/* home section start */

.home {
  width: 100%;
  padding: 40px 0;
  background-color: #f6f1ee;
}

.homeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  color: #253439;
  text-align: center;
  margin-bottom: 16px;
}

.homeText {
  font-size: 18px;
  line-height: 27px;
  color: #253439;
  text-align: center;
  width: 70%;
}

.homeVectors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 32px;
}

.homeButtonBox {
  display: flex;
  height: 200px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.buttonBoxRow {
  display: flex;
  gap: 12px;
  align-items: center;
}

.startups {
  display: flex;
  align-items: center;
  gap: 12px;
}

.startups > a {
  color: #253439;
}

.homeBtn {
  background-color: #fff;
  border-radius: 24px;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.homeBtn > a {
  font-size: 18px;
  line-height: 18px;
  color: #253439;
}

.weekly {
  background-color: #f6f1ee;
  padding: 0 0 36px 0;
}

.weeklyTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.weeklyTitle > h2 {
  font-weight: 700;
  font-size: 72px;
  color: #253439;
  text-align: center;
}

.row {
  display: flex;
}

.lunches {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lunchCard {
  display: flex;
  flex-direction: column;
width: 23.5%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-image {
  width: 100%;
  position: relative;
  transform: translateY(50px)
}
.card-image > img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.favorite {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.category-name{
  background-color: #fff;
  color: #253439;
  position: absolute;
  left: 12px;
  bottom: 62px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.cardInfo{
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.cardText{
  line-height: 16px;
  font-size: 13px;
  color: #253439;
  font-weight: 400;
}

.cardTitle{
  margin-bottom:12px ;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #253439;
}

.stat{
  margin-top: 24px;
  width: 100%;
}
.count-stat{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.load{
  margin-top: 14px;
  margin-bottom: 14px;
}

.launching{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.funding{
  color: #3590F3;
  font-size: 12px;
  text-transform: uppercase;
}

.soon{
  color: #253439;
  font-size:12px ;
}



@media(max-width:762px){
  .navBar, .loginSign{
    display: none;
  }

  .cardBox {
    width: 100%;
    display: flex;
flex-wrap: wrap;
    gap: 20px;
  }

}